/* Global  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: 'Saira', sans-serif;
    

}
body{
    color: #ffffff;
    background-color: #171A1D ;
    letter-spacing: 1px;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #cf1f1f; 
  }

.heading {
    text-align: center;
    padding-top: 100px;
}
.heading .space_border {
    position: relative;
    background-color: #cf1f1f;
    margin: 0 auto;
    width: 30px;
    height: 1px;
}
.heading .space_border::before{
    content: "";
    position: absolute;
    left: -40px;
    background: rgba(255,255,255,0.25);
    width: 30px;
    height: 1px;
}
.heading .space_border::after{
    content: "";
    position: absolute;
    right: -40px;
    background: rgba(255,255,255,0.25);
    width: 30px;
    height: 1px;
}

.heading h3 {
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.5px;
}

/* header  */
#cvNavBar .navbar-nav .nav-link {
    color: white;
    font-size: 13px;
    font-weight: 600;
    line-height: 88px;
    
}
#cvNavBar .navbar-nav .nav-link:hover{
    color: #cf1f1f;
    transition: all 0.5s;
}
#headerFixed .navbar{
    padding: 0px !important;
}
#headerFixed {
    background-color: #171A1D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: all .7s;
    z-index: 1000;
}
#headerFixed.show{
    transform: translateY(0);
}

.carousel .carousel_content{
   position: absolute;
   top: 300px;
}

.carousel .carousel_content .wrap-subtitle span{
    color: #cf1f1f;
    font-weight: 700;
}
.carousel .carousel_content .auto-type{
    font-weight: bold;
    font-size: 64px;
    
}
.carousel .carousel_content .typed-cursor{
    font-size: 64px;
    font-weight: bold;
}
.carousel .carousel_content .nation {
   width: fit-content;
   border-left: solid 1px rgba(255,255,255,0.25);
   margin: 10px 0;
}
.carousel .carousel_content .nation p:first-child{
 font-size: 16px;
 font-weight: bold;
}
.carousel .carousel_content .nation p:last-child{
 font-size: 14px;
 color: #bbb;
}
.carousel .carousel_content .nation p{
    margin-bottom: 0;
}

.outside {
    width: 100%;
    height: 100vh;
    background-image: url(../img/1.jpg);
    background-position-y: 30%;
    background-position-x: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mouseScroll{
    width: 100%;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
}
.mouseScroll.hidden{
    visibility: hidden;
    opacity: 0;
    
}
.scrollDown{
    width: 30px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.scrollDown .scroll{
    background-color: #fff;
    width: 3px;
    height: 6px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}
.scrollDown .scroll::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -2.5px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
}
.scrollDown .scroll::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -2.5px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
    animation-delay: 0.8s;
}
@keyframes ani {
    0%{
        margin-top: 10px;
        opacity: 0;
    }
    50%{
        margin-top: 25px;
        opacity: 1;
    }
    100%{
        margin-top: 40px;
        opacity: 0;
    }
}

/* social page  */
.social-page{
 position: fixed;
 left: 30px;
 top: 50%;
 text-align: center;
 transform: translate(-50%,-50%);
 letter-spacing: 2px;
 gap: 8px;
 z-index: 1234; 

}
.social-page a{
    color: #cf1f1f;
    font-size: 18px;
    
}
.social-page a:hover{
    color: #ffffff;
    
  }
.title-social{
    font-size: 12px;
    writing-mode: vertical-rl;
    width: fit-content;
    transform: rotate(-180deg);
    font-weight: 600;
    margin-top: 20px;

}


/* what i do  */
.what_do .content{
    border-left: solid 1px rgba(255,255,255,0.25);
    padding: 40px;
   
}
.what_do .content .title{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}
.what_do .content:last-child {
    border-right:solid 1px rgba(255,255,255,0.25); 
}
.what_do .content i{
    color: #cf1f1f;
    font-size: 40px;
}
.what_do .content span{
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
    
    
}

/* my resume  */

.index{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    background-color: #cf1f1f;
}

.date{
    margin-left: 20px;
    padding: 10px 35px;
    height: 40px;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg,rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.001) 100%);
}
.resume_content{
    border-left: solid 1px rgba(255,255,255,0.25);
    padding: 35px;
    margin-left: 20px;
    
}
.resume_content h4{
    font-size: 18px;
}
.resume_content h5{
    font-size: 16px;
    color: #cf1f1f;
    font-weight: 300;
}
.resume_content p{
   margin-bottom: 0;
   color: #aaaaaa;
}


/* contact me  */
.contact_form .input input{
  background-color: transparent;
  outline: none;
  border-radius: 3px;
  border: solid 1px rgba(255,255,255,0.25);

}
.contact_form .input input:focus{
    background-color: rgba(207,31,31,.1);
}
.contact_form textarea{
    background-color: transparent;
    outline: 0;
    border-radius: 3px;
    border: solid 1px rgba(255,255,255,0.25);
}
.contact_form textarea:focus{
    background-color: rgba(207,31,31,.1);
}
.contact_form button{
    margin-top: 20px;
    
}
           
.contact_content{
    margin-top: 30px;
}
.contact_content h4{
    font-size: 16px;
    font-weight: bold;
}
.contact_content p{
    font-size: 16.5px;
    font-weight: 300;
    color: #aaaaaa;
}
        
/* back to top  */
/* back to top  */
.back_to_top {
    position: fixed;
    right: 50px;
    bottom: 20px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.back_to_top i {
    font-size: 11px;
    color: #fff;
    border: 1px solid #aaaaaa;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}
.back_to_top i:hover{
    background-color: #cf1f1f;
}

/* khai báo chuỗi chuyển động  */
@keyframes upDown {
    0% {}

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes upDown2 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50px);
    }
}


@keyframes upDown3{
    0%{
        transform: translateY(0) scale(1);
    
    }
    100%{
        transform: translateY(50px) scale(1.2);
    }
}